@font-face {
    font-family: "Idroid";
    src: url("fontes/idroid.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "Poppins";
    src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}



body {
    width: 100%;
    background-color: #E8E6C2;
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header > nav {
    width: 100%;
    background-image: linear-gradient(to bottom, #239355, #003917);
    padding: 20px;
}

nav > h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #F5FFF6;
    text-shadow: 1px 1px 2px black;
}

nav > p {
    color: #F5FFF6;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

nav > a {
    margin-right: 10px;
    text-decoration: none;
    color: #8ED6AE;
}

nav > a:hover {
    color: #003917;
    background-color: #2E9F61;
    border-radius: 5px;
    padding: 10px;
}

main {
    width: 100%;
    background-color: white;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

section#secaoumhistoriamascote > h2.h2principal{
    font-size: 2em;
    background: white;
    margin: 15px;
}
section#secaoumhistoriamascote > h2 {
    font-family: "Idroid", sans-serif;
    background: linear-gradient(to left, white, #A0EABF);
    color: #116333;
    margin: 20px;
}

section#secaoumhistoriamascote > p {
    text-indent: 20px;
    text-align: justify;
    justify-content: center;
    margin: 20px;
}

section#secaoumhistoriamascote > picture {
    align-items: center;
}

section#secaoumhistoriamascote .linkestilizado{
    text-decoration: none; 
    font-weight: bold;
    font-size: 18px;
    background-color: #A0EABF;
    color: #116333;
}

section#extra > h1 {
    background-color: #175C33;
}