html{
    width: 100%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #E3D0A8;
}

/*estilização da linha*/

hr {
    color: black;
    background-color: black;
    height: 2px;
    border-style: solid;
}

hr.reduzido{
    color: black;
    background-color: black;
    height: 0;
    border-style: solid;
}

section {
    display: flex;
    justify-content: flex-end;
}


section > span {
    width: 80px;
    font-size: 1.5em;
    text-align: center;
    margin: auto;
    padding: 10px;
}

section > span.spantitulo1 {
    outline: 1px solid black;
    padding: 5px;
    width: 150px;    
    height: 100px;
}

/*seção principal*/

section#titulo > h1 {
    display: inline;
    font-weight: bold;
    font-size: 3em;
    margin: auto;
}

section#datajornal {
    display: block;
    margin: auto;
    text-align: center;
}

section#datajornal > p{
    display: inline;
    font-size: 1em;
    font-weight: bold;
    color: black;
    margin: 1px 80px;
    font-family: monospace, Arial;
}


section#noticiaPrincipal {
    font-size: 1.5em;
    text-align: center;
    margin: 10px;
    padding: 20px;
    border: 20px;
    justify-content: center;
    max-width: 100%;
}

section#noticiaPrincipal .noticiaPrincipalTitulo{
    font-size: 2em;
    text-align: center;
}

section#noticiaPrincipal .subtituloNoticiaPrincipal {
    font-size: 1.5em;
    text-align: center;
    font-weight: normal;
}

section#noticiaPrincipal img.imagemcidade {
    padding: 10px;
    border: 5px solid black;
}

/*seção lateral*/

section#noticiaLateral{
    text-align: left;
    display: inline;
    max-width: 100%;
    padding: 20px;
    border: 20px;
    justify-content: center;
    font-family: monospace, Arial;
}

section#noticiaLateral > h2{
    font-size: 1.5em;
    background-color: black;
    color: #E3D0A8;
    text-align: center;
}

section#noticiaLateral .imgNoticiaLateral{
    padding: 10px;
    border: 5px solid black;
}

section#noticiaLateral > h3 {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

section#noticiaLateral > h4 {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

/*seção extra*/

section#noticiaExtra {
    max-width: 100%;
    display: flex;
    align-items: center;
    max-width: 50%;
    flex-direction: column;
}

section#noticiaExtra > h2 {
    font-size: 1.5em;
    text-align: left;
    margin: 20px;
    font-weight: bold;
}

section#noticiaExtra > h3 {
    font-size: 1.5em;
    text-align: right;
    margin: 20px;
    max-width: 50%;
    max-height: 100px;
}

section#noticiaExtra img.imagemhomemNotExtra {
    padding: 10px;
    border: 5px solid black;
    max-width: 50%;
}

section#noticiaExtra > p{
    font-family: monospace, Arial;
    text-align: center;
    justify-content: center;
    max-width: 40%;
}

/*seção noticia importante*/

section#noticiaImportante{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
}

section#noticiaImportante > h2 {
    font-family: monospace, Arial;
    font-size: 1.5em;
    background-color: black;
    color: #E3D0A8;
    justify-content: center;
    max-width: 60%;
    max-height: 100px;
}

section#noticiaImportante > p {
    font-family: monospace, Arial;
    text-align: center;
    justify-content: center;
}



